body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background: #fff;
    }

.logof{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}

.logot:hover, .logof:hover, .logofoot:hover {color: #404bbf;}

.logot:active, .logof:active, .logofoot:active{ 
    color: #404bbf; 
    text-decoration: underline;}

.logot {
    color: #2e2f42;
}

.menu-links .link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
    text-decoration: none;
}
.menu-links .link:hover{color: #404bbf;}
.menu-links .link:active, .menu-links .link:focus{
    color: #404bbf;
    text-decoration: underline;
}

.addr-fon{font-style: normal;}

.cont-links .link{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    text-decoration: none;
    
}
.cont-links .link:hover, .cont-links .link:focus{color: #404bbf;}

.start-scr{
    background-color:#2e2f42;
}

.start-scr .title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color: #ffffff;
    letter-spacing: 0.02em;
  
}

.start-scr-btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    background-color: #4d5ae5;
}
.start-scr-btn:hover, .start-scr-btn:focus{background: #404bbf;}

.second-title{font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    letter-spacing: 0.02em;
}

.eff-sol .solution{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    letter-spacing: 0.02em;
}

.eff-sol .text{
    font-size: 16px;
}

.sec-team {
    background-color: #F4F4FD;
}
.team-list .name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: #2e2f42;
    letter-spacing: 0.02em;
}

.team-list .descr{
    font-size: 16px;
    text-align: center;
}

.team-list .fon-team {
    background-color: #FFFFFF;
}

.portfolio .name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    letter-spacing: 0.02em;
    }

.portfolio .descr{
    font-size: 16px;
}

.fot-text{
        font-size: 16px;
        line-height: 1.5;
        color: #f4f4fd;
}


.foot-fon{
    background-color:#2e2f42;
}
.logofoot{color: #f4f4fd;}